*/release
*/debug
release/*
debug/*
HexitecGigE/images/ideas/*
# VSR_DLL
*.ipch
*.db
.vs/*
*/.vs
VSR_DLL_1.0.0.2/VSR/.vs/*
RCa*
RCb*
*/v15
v15/*
*.suo
*.ipch
*.db
*.filters
*.user
VSR_DLL_1.0.0.1/aS_lib/aS_messages/*.bin
VSR_DLL_1.0.0.2/aS_lib/aS_messages/*.bin
*/VSR/VSR/x64/*
*/VSR/x64/*
*/VSR/VSR-Sample/x64/*
# General
.qmake.stash
ui_*.h
Makefile*
*.pro.user
moc_*
*.obj
*.exe
*.ilk
*.pdb
