*/release
*/debug
release/*
debug/*
HexitecGigE/images/ideas/*
# VSR_DLL
*.ipch
*.db
.vs/*
*/.vs
*/v15
v15/*
*.suo
*.ipch
*.db
*.filters
*.user
# General
.qmake.stash
ui_*.h
Makefile*
*.pro.user
moc_*
*.obj
*.exe
*.ilk
*.pdb
